[Desktop Entry]
Name=MLPCCGPointScoreboard
Exec=qmlscene $@ qml/MLPCCGPointScoreboard/main.qml
Icon=MLPCCGPointScoreboard64.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

